.bgm{
  background-image: url('./components/data/images/data2.jpg');
  background-size: cover; 
  background-position: center;
}

button{
  border-radius: 2em;
}

.nav:hover{
  background-color:grey;
}
.aabbccc{
  max-height:120px
}

div,img{
  border-radius: 10px;
}

button{
  background: hwb(25 30% 2%);
  border-radius: 7px;
border: none;
}
.bgyellow{
  background: hwb(25 30% 2%);
}

.txt{
  color:  hwb(25 30% 2%);
}
.setteam{
  display: flex;
    

}

.bgstyle{
  background: antiquewhite
}